---
---

/* stylelint-disable selector-list-comma-newline-after */

@import "variables";

.post {
  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 14px !important;
    color: $mahogany;

    a {
      color: $mahogany;
      text-decoration: none;
    }

    &:visited {
      color: $mahogany;
    }

    &:hover {
      color: $mahogany;
      text-decoration: underline;
    }
  }

  .reading-time {
    text-transform: uppercase;
    font-size: 14px !important;
    color: $mahogany;
  }
}

/*
 * Scroll
 */
.scroll-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 25px;
  right: 20px;
  display: none;
}
.scroll-top i {
  display: inline-block;
  color: #fff;
}
